@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

body{
    font-family: 'Open Sans','sans-serif'
}

h1,h2 {
    font-family: 'Poppins';
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}


.attribution { font-size: 16px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }


#footer {
   background-color: hsl(192, 100%, 9%);
}